## Integrated Public Transport System of the South Moravian Region




A short exercise from the Digital Academy, supplied by one of our lecturers, used to refresh my memory.

When did I last load the JSON?

In [45]:
import json
import requests
import pandas

# to make the request look like a real browser, which is much less likely to be blocked:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}

x = requests.get("https://mapa.idsjmk.cz/api/vehicles.json", headers=headers)

data = x.json()

last_update = data["LastUpdate"]
date, time = last_update.split("T")

print(f"Datum: {date}, čas: {time}")

Datum: 2025-07-29, čas: 21:52:02.8969505+02:00

Show me what I will be working with (columns and an example entries - only up to 5 unique values):

In [46]:
df = pd.json_normalize(data["Vehicles"])

for column in df.columns:
    unique_values = df[column].unique()
    sample_values = unique_values[:5]
    print(f"\n{column}:")
    print(sample_values)

ID:
[21105  1620  2021 21094 21037]

IDB:
[   0 1561 1530 1574 1601]

IDC:
[0]

VType:
[4 0 2 1 5]

LType:
[4 0 2 1 5]

Lat:
[49.118328 49.23304  49.142292 48.799698 48.94582 ]

Lng:
[16.474209 16.576391 16.632755 16.628784 16.967194]

Bearing:
[ 45 225  -1 135 315]

LineID:
[510 392  78 585 662]

LineName:
['510' 'x12' '78' '585' '662']

RouteID:
[  35 7257 7114   34   48]

ServiceId:
[51001  1238  7809 57101 66201]

Course:
['51001' '01238' '07809' '57101' '66201']

LF:
[ True False]

Delay:
[0 1 2 5 3]

LastStopID:
[14209  1659 15130 15714 16545]

FinalStopID:
[14213  1242  1773 15801 16608]

FinalStopName:
['Radostice, kostel' 'Klusáčkova' 'Vojenská nem.' 'Valtice, aut. st.'
 'Kyjov, aut. st.']

IsInactive:
[False  True]

Total number of vehicles:

In [47]:
vehicles = data['Vehicles']
vehicles_count = len(vehicles)
vehicles_count

335

Number of vehicles on break:

In [48]:
inactive_vehicles_count = 0

for vehicle in vehicles:
    if vehicle["IsInactive"]:
        inactive_vehicles_count += 1

print(inactive_vehicles_count)

57

Number of vehicles with a delay greater than 5 minutes + what percentage is that of all vehicles:

In [49]:
delayed_vehicles = 0

for vehicle in vehicles:
    if vehicle["Delay"] > 5:
        delayed_vehicles += 1
print(delayed_vehicles)

percentage_delayed_vehicles = delayed_vehicles / len(vehicles) * 100
print(percentage_delayed_vehicles)

10
2.9850746268656714

Average delay:

In [50]:
total_delay = 0.0
for vehicle in vehicles:
    total_delay += vehicle["Delay"]

average_delay = total_delay / len(vehicles)
print("Average delay:", average_delay)

Average delay: 1.2447761194029852

Number of low-floor regional trains:

In [51]:
LF_RF_train_count = 0

for vehicle in vehicles:
    if (vehicle['LF']) and ('R' in vehicle['LineName'] or 'S' in vehicle['LineName']):
        LF_RF_train_count += 1

print(LF_RF_train_count)

29

Which ones end at "Technologický park":

In [52]:
final_stop_technologicky_park = df[df["FinalStopName"].str.endswith("Technologický park", na=False)]

print(final_stop_technologicky_park["LineName"].to_string(index=False))

x12
 65
 72
 72